WEEKS/Week_4/Exercise 2/Automate CV screening with AI candidate analysis.json
{
  "name": "Automate CV screening with AI candidate analysis",
  "nodes": [
    {
      "parameters": {
        "content": "###4) Section C — Immediate Logging & File Storage (Fail-Safe Design)\n\nThis section ensures traceability even if the workflow fails later.\n\n#### C1. Log Candidate Submission (Google Sheets — Append Row)\nImmediately logs:\n- Name\n- Email\n- CV file name",
        "height": 416,
        "width": 496,
        "color": 7
      },
      "id": "72c7af0e-d8f8-4498-a849-b95c323a6cd6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - Append Row1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1728,
        16
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "This uses **[Mistral OCR](https://mistral.ai/fr/news/mistral-ocr)**, it extracts the text perfectly from a candidate's CV (PDF).\n\n**[Get your Mistral API key here](https://console.mistral.ai/api-keys)**",
        "height": 304,
        "width": 224,
        "color": 7
      },
      "id": "b8076a35-fb6e-481d-9d92-3a95e9c3c732",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - Extract Text1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1744,
        528
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "Adapt the `job requirements` in the prompt to **your position & criteria**.",
        "height": 248,
        "width": 320,
        "color": 6
      },
      "id": "f7d1f44f-2d84-4a97-adad-2923f6ba1736",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - LLM Chain1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1984,
        560
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nEnsures the AI's response is perfectly structured as JSON (e.g., `qualificationRate`, `explanation`), making the data reliable and easy to use.",
        "height": 256,
        "width": 368,
        "color": 7
      },
      "id": "a1e153ae-1a1b-4a4f-b901-b999c31b4059",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - Output Parser1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2128,
        864
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "Check your Google Sheets! You now have the analysis of the candidate.",
        "height": 256,
        "width": 224,
        "color": 7
      },
      "id": "641d597c-400b-4d6c-a21c-5fc28099c9be",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - Update Row1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2320,
        560
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "\n\n## 1) Workflow Objective\n\nThis workflow automates the CV screening process:\n\n1. Collects candidate applications through a web form.\n2. Stores uploaded CV files in Google Drive.\n3. Extracts CV text using OCR.\n4. Evaluates the CV using an LLM against job requirements.\n5. Logs the evaluation results in Google Sheets.\n6. Sends a positive or negative email response based on the qualification score.\n",
        "height": 352,
        "width": 644
      },
      "id": "704e43dd-ee85-4514-8a41-cb3daaf71eee",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note - Workflow Goal1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        464,
        224
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "formTitle": "Submit Your Application",
        "formDescription": "Please fill out the form below and upload your CV to apply.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "e.g., Jane Doe",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "e.g., user@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Submit Application",
          "path": "230e09f7-33df-4266-917d-ce3398cae141",
          "customCss": "/* --- ROOT VARIABLES (Dark Professional Theme) --- */\n:root {\n\t/* --- FONT MAPPING --- */\n\t--font-family: 'Inter', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 14px;\n\t--font-size-header: 24px;\n\t--line-height-base: 1.6;\n\n\t/* --- COLOR MAPPING (Dark Slate/Purple Theme) --- */\n\t--color-page-bg: #111827; /* Dark Slate */\n\t--color-card-bg-glass: rgba(29, 39, 53, 0.65); /* Darker, less transparent glass */\n\t--color-card-border-glass: rgba(255, 255, 255, 0.1); /* Subtle light border */\n\t--color-input-bg: #1F2937; /* Slightly lighter than page bg */\n\t--color-header: #F9FAFB; /* Off-white for high contrast */\n\t--color-label: #9CA3AF; /* Light gray for secondary text */\n\t--color-input-text: #F9FAFB;\n\t--color-input-border: #4B5563; /* Mid-gray border */\n\t--color-focus-border: #8B5CF6; /* Vibrant Purple */\n\t--color-link: #8B5CF6;\n\t--color-submit-btn-bg: #8B5CF6;\n\t--color-submit-btn-hover-bg: #7C3AED; /* Darker Purple */\n\t--color-submit-btn-text: #FFFFFF;\n\t--color-error: #F43F5E; /* Vibrant Rose for errors */\n\t--color-required: #F43F5E;\n\n\t/* --- DIMENSIONS & SPACING --- */\n\t--container-width: 550px;\n\t--border-radius-card: 16px;\n\t--border-radius-input: 8px;\n\t--padding-card: 32px;\n\t--padding-form-input: 14px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 20px;\n\n\t/* --- EFFECTS & ANIMATIONS --- */\n\t--box-shadow-card: 0 16px 50px rgba(0, 0, 0, 0.3); /* Deeper shadow for dark mode */\n\t--transition-speed: 0.25s;\n\t--animation-speed-fast: 0.2s;\n\t--animation-speed-normal: 0.4s;\n}\n\n/* === KEYFRAME ANIMATIONS === */\n@keyframes fadeInSlideUp {\n    from {\n        opacity: 0;\n        transform: translateY(20px);\n    }\n    to {\n        opacity: 1;\n        transform: translateY(0);\n    }\n}\n\n@keyframes backgroundPan {\n\t0% { background-position: 0% 50%; }\n\t50% { background-position: 100% 50%; }\n\t100% { background-position: 0% 50%; }\n}\n\n/* === GLOBAL LAYOUT & STYLES === */\nbody {\n    /* Dynamic animated aurora gradient background */\n    background-color: var(--color-page-bg);\n    background-image:\n        radial-gradient(at 20% 100%, hsla(278, 60%, 45%, 0.2) 0px, transparent 50%),\n        radial-gradient(at 80% 0%, hsla(215, 60%, 40%, 0.2) 0px, transparent 50%),\n        radial-gradient(at 50% 50%, hsla(259, 70%, 55%, 0.1) 0px, transparent 50%);\n    background-size: 200% 200%;\n    animation: backgroundPan 15s ease-in-out infinite;\n\n    line-height: var(--line-height-base);\n    font-size: var(--font-size-body);\n    color: var(--color-label); /* Set default text color for body */\n\n    /* Flexbox properties for true centering */\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    min-height: 100vh;\n    margin: 0;\n    overflow-x: hidden; /* Prevent horizontal scroll from large gradients */\n}\n\n.form-container {\n    padding: 2rem 1rem;\n}\n\n/* === THE GLASSMORPHISM CARD === */\n.card {\n    background: var(--color-card-bg-glass);\n    backdrop-filter: blur(16px) saturate(150%);\n    -webkit-backdrop-filter: blur(16px) saturate(150%);\n    border-radius: var(--border-radius-card);\n    border: 1px solid var(--color-card-border-glass);\n    box-shadow: var(--box-shadow-card);\n    transition: box-shadow var(--animation-speed-normal) ease;\n\n    /* Card Load-in Animation */\n    animation: fadeInSlideUp 0.6s ease-out forwards;\n}\n.card:hover {\n    box-shadow: 0 0 50px rgba(139, 92, 246, 0.15); /* Subtle purple glow on hover */\n}\n\n/* === FORM ELEMENT STYLING === */\n.form-input {\n    border-radius: var(--border-radius-input);\n    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    color: var(--color-input-text);\n}\n.form-input::placeholder {\n    color: var(--color-label);\n    opacity: 0.7;\n}\n.form-input:focus {\n    /* Glow effect on focus */\n    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.25);\n    border-color: var(--color-focus-border);\n    outline: none; /* Remove default outline */\n}\n\ntextarea.form-input {\n    min-height: 150px;\n    resize: vertical;\n}\n\n/* Submit Button */\nbutton.submit-btn {\n    transition: all var(--transition-speed) ease-in-out;\n    font-family: var(--font-family);\n    font-weight: var(--font-weight-bold);\n    color: var(--color-submit-btn-text);\n    background-color: var(--color-submit-btn-bg);\n    border-radius: var(--border-radius-input);\n    border: none;\n    cursor: pointer;\n}\nbutton.submit-btn:hover {\n    background-color: var(--color-submit-btn-hover-bg);\n    /* Add a lift and glow effect on hover */\n    transform: translateY(-3px);\n    box-shadow: 0 8px 25px rgba(139, 92, 246, 0.3);\n}\n\n/* === MODERN CHECKBOX STYLING === */\nlabel.multiselect-label {\n    display: flex;\n    align-items: center;\n    cursor: pointer;\n    position: relative;\n    padding: 8px 0;\n}\nlabel.multiselect-label span {\n    padding-left: 12px;\n    color: var(--color-label);\n    transition: color var(--transition-speed) ease;\n}\nlabel.multiselect-label:hover span {\n    color: var(--color-input-text); /* Lighten label text on hover */\n}\nlabel.multiselect-label input[type=\"checkbox\"] {\n    position: absolute;\n    opacity: 0;\n    cursor: pointer;\n    height: 0;\n    width: 0;\n}\nlabel.multiselect-label span::before {\n    content: '';\n    position: absolute;\n    left: 0;\n    top: 50%;\n    transform: translateY(-50%);\n    width: var(--checkbox-size);\n    height: var(--checkbox-size);\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    border-radius: 6px;\n    transition: all var(--animation-speed-fast) ease-in-out;\n}\nlabel.multiselect-label input[type=\"checkbox\"]:checked + span::before {\n    background-color: var(--color-focus-border);\n    border-color: var(--color-focus-border);\n    background-image: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e\");\n    background-position: center;\n    background-repeat: no-repeat;\n    /* Animation for the checkmark appearing */\n    transform: translateY(-50%) scale(1.05);\n}\nlabel.multiselect-label input[type=\"checkbox\"]:focus-visible + span::before {\n    /* Use a glow for focus instead of a harsh outline */\n    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.3);\n}"
        }
      },
      "id": "cb5ef831-79f7-4129-9642-6ece79a3603e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Application Form",
      "type": "n8n-nodes-base.formTrigger",
      "creator": "Lucas Peyrin",
      "position": [
        1520,
        656
      ],
      "webhookId": "230e09f7-33df-4266-917d-ce3398cae141",
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "8af8707e-de1b-4687-8d7a-c853dfec2b31",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Start Here",
      "type": "n8n-nodes-base.manualTrigger",
      "creator": "Lucas Peyrin",
      "position": [
        432,
        656
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8",
          "mode": "list",
          "cachedResultName": "CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 93097026,
          "mode": "list",
          "cachedResultName": "CandidatesLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8/edit#gid=93097026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Name_CvFile": "={{ $json['Upload CV'].filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name_CvFile",
              "displayName": "Name_CvFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {}
          }
        }
      },
      "id": "483377db-ede2-4dcb-8ce0-a77b9f9d1b09",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Log Candidate Submission",
      "type": "n8n-nodes-base.googleSheets",
      "creator": "Lucas Peyrin",
      "position": [
        1808,
        288
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W2rQvutbB8bBbpio",
          "name": "Google Sheets account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8",
          "mode": "list",
          "cachedResultName": "CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 455179418,
          "mode": "list",
          "cachedResultName": "QualificationDescription",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R3BmkhpdKmM2O_orFFxcdT1z_obO7qTPN7q4IKlDD8/edit#gid=455179418"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Application Form').item.json.Email }}",
            "QualificationRate": "={{ $json.output.qualificationRate }}",
            "QualificationDescription": "={{ $json.output.explanation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QualificationRate",
              "displayName": "QualificationRate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QualificationDescription",
              "displayName": "QualificationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d4aa8091-6577-44b5-9541-c0cc87f83e93",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Add CV Analysis",
      "type": "n8n-nodes-base.googleSheets",
      "creator": "Lucas Peyrin",
      "position": [
        2384,
        656
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W2rQvutbB8bBbpio",
          "name": "Google Sheets account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "e94d6fac-a882-4573-a52d-11a90b15302f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "creator": "Lucas Peyrin",
      "position": [
        1936,
        896
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "iAGK4K18bwP0YIvw",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### 3) Section B — Application Intake\n\n#### B1. Application Form (Form Trigger)\nPublic form that collects:\n- Full Name\n- Email\n- CV Upload (PDF only)\n\nThis node triggers the workflow when a candidate submits the form.",
        "height": 444,
        "width": 300,
        "color": 7
      },
      "id": "21587944-8fd4-4583-8697-a7bf04441850",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1424,
        384
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n1. [In Google AI Studio](https://aistudio.google.com/app/apikey) click **“Create API key in new project”** and copy it.\n\n2. Open the ```Connect Gemini``` node:\n   * **Select Credential → Create New**\n   * Paste into **API Key** and **Save**\n",
        "height": 316,
        "width": 294,
        "color": 7
      },
      "id": "f7e475cb-a354-4e10-9bc1-662cc81d13df",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1824,
        864
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<prompt>\n  <goal>\n    Evaluate the candidate CV provided in &lt;candidate_cv&gt; against the Senior Frontend Developer job requirements in &lt;job_requirements&gt;.\n    Determine if the candidate is qualified and return ONLY a valid JSON object with:\n    - qualificationRate (0.0 to 1.0)\n    - explanation (single string, evidence-based)\n  </goal>\n\n  <inputs>\n    <candidate_cv>\n      <![CDATA[\nBEGIN_CV\n{{ $json.pages[0].markdown }}\nEND_CV\n      ]]>\n    </candidate_cv>\n  </inputs>\n\n  <context>\n    <job_requirements>\n      <![CDATA[\n# Position Profile: Senior Frontend Developer\n\nJob Title: Senior Frontend Developer\nLocation: Remote (US-based)\n\nAbout the Role:\nWe are looking for an experienced and passionate Senior Frontend Developer to join our core product team. You will be responsible for building and maintaining the user-facing components of our flagship SaaS platform, ensuring a seamless, responsive, and high-performance user experience. You will collaborate closely with UI/UX designers, product managers, and backend engineers to bring new features to life and mentor other developers on the team.\n\nKey Responsibilities:\n- Develop, test, and deploy high-quality, scalable, and user-friendly web applications using React and TypeScript.\n- Collaborate with cross-functional teams to define, design, and ship new features.\n- Mentor junior and mid-level developers through code reviews, pair programming, and technical guidance.\n- Optimize applications for maximum speed, scalability, and accessibility.\n- Ensure the technical feasibility of UI/UX designs and maintain a high standard of code quality.\n- Stay up-to-date with emerging technologies and advocate for their adoption where it makes sense.\n\n# EVALUATION CRITERIA\n\n## Core Requirements (Must-Haves)\n- Experience: 5+ years of professional experience in frontend development.\n- Project Leadership: Proven experience leading frontend projects from conception to completion.\n- JavaScript/TypeScript: Expert-level proficiency in modern JavaScript (ES6+) and TypeScript.\n- Framework Expertise: Deep, hands-on experience with React.\n- State Management: Strong experience with state management libraries such as Redux, Zustand, or React Query.\n- Styling: Proficiency in modern CSS, including CSS-in-JS (e.g., Styled Components) or utility-first CSS (e.g., Tailwind CSS).\n- API Integration: Extensive experience consuming RESTful or GraphQL APIs.\n- Testing: Solid experience with frontend testing frameworks like Jest and React Testing Library.\n- Version Control: Mastery of Git and collaborative workflows (e.g., GitFlow).\n- Communication: Excellent written and verbal communication skills (assessed through the clarity and professionalism of the CV).\n\n## Preferred Qualifications (Nice-to-Haves)\n- Meta-Frameworks: Experience with Next.js or a similar framework.\n- Backend Knowledge: Familiarity with Node.js and server-side development.\n- CI/CD: Experience setting up and maintaining CI/CD pipelines (e.g., GitHub Actions, Vercel).\n- Design Acumen: A strong eye for UI/UX design.\n- Performance Tuning: Experience with web performance optimization tools like Lighthouse.\n      ]]>\n    </job_requirements>\n\n    <evaluation_logic>\n      <![CDATA[\n- qualificationRate is a number from 0.0 to 1.0.\n- Core Requirements are non-negotiable:\n  - If ANY core requirement is missing or NOT clearly evidenced in the CV, qualificationRate MUST NOT exceed 0.6.\n  - If ALL core requirements are clearly evidenced, qualificationRate MUST be at least 0.75.\n- Preferred Qualifications add incremental value and can increase the score toward 1.0.\n- Evidence must be explicit: cite concrete phrases, technologies, years, roles, projects, or outcomes from the CV.\n- If evidence is missing, state clearly that it is not present in the CV.\n      ]]>\n    </evaluation_logic>\n  </context>\n\n  <strict_output_rules>\n    <![CDATA[\nYOU MUST FOLLOW ALL RULES BELOW:\n\n1) Output ONLY a single raw JSON object.\n2) Do NOT output markdown.\n3) Do NOT output code fences or backticks.\n4) Do NOT output any text before or after the JSON.\n5) JSON must be valid and directly parseable.\n6) Use EXACTLY these two keys: \"explanation\" and \"qualificationRate\".\n7) Do NOT include any additional keys.\n8) The first character of the response must be '{' and the last character must be '}'.\n9) \"explanation\" must be a single string (no arrays, no nested objects).\n10) \"qualificationRate\" must be a number (not a string).\n11) If you cannot evaluate due to missing CV content, still return valid JSON and explain what is missing.\n    ]]>\n  </strict_output_rules>\n\n\n</prompt>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "You are the AI Hiring Assistant, a specialized AI agent designed to meticulously analyze and evaluate candidate CVs against specific job requirements. Your personality is professional, objective, and detail-oriented. You provide clear, evidence-based assessments to support hiring decisions."
            }
          ]
        },
        "batching": {}
      },
      "id": "d75d53de-6040-4620-b102-0621829c0666",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "AI Qualification",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "creator": "Lucas Peyrin",
      "position": [
        2032,
        656
      ],
      "typeVersion": 1.7,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "binaryProperty": "={{ $('Application Form').last().binary.keys()[0] }}",
        "options": {}
      },
      "id": "3b04b67b-d4dc-44e6-90e1-d239dbbc40d1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Extract CV Text",
      "type": "n8n-nodes-base.mistralAi",
      "creator": "Lucas Peyrin",
      "position": [
        1808,
        656
      ],
      "typeVersion": 1,
      "credentials": {
        "mistralCloudApi": {
          "id": "OISjdIYswXuxGfz7",
          "name": "Mistral Cloud account"
        }
      },
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Application Form').last().binary.keys()[0] }}",
        "name": "={{ $json['Upload CV'].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1MIOB3IkfaxILxh_7LQvs0PXXmvbAaYWr",
          "mode": "list",
          "cachedResultName": "Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MIOB3IkfaxILxh_7LQvs0PXXmvbAaYWr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        288
      ],
      "id": "56ed4224-ebc1-47c6-9642-37123fc824bb",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1o5RJCn4jdmAWRvQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa37a65c-766a-488a-b2a8-b658827ad00b",
              "leftValue": "={{ $json.QualificationRate }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        656
      ],
      "id": "5a6b021f-7702-4c5e-a7a3-ae3293cb8d44",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Application Form').item.json.Email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3152,
        560
      ],
      "id": "6a0b0dcf-8ca3-4b1a-b08d-452d079eceb8",
      "name": "Send a message",
      "webhookId": "212295f6-fb9a-4cb5-957f-04daf01dbcfa",
      "credentials": {
        "gmailOAuth2": {
          "id": "cadyO2loiMwkqmBg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Application Form').item.json.Email }}",
        "subject": "={{ $json.output[0].content[0].text.subject }}",
        "message": "={{ $json.output[0].content[0].text.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3152,
        752
      ],
      "id": "5b34e95c-10d5-49c3-8b15-3933e32708c1",
      "name": "Send a message1",
      "webhookId": "08bbfe26-091b-467b-a1a9-513dc4536ad5",
      "credentials": {
        "gmailOAuth2": {
          "id": "cadyO2loiMwkqmBg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "assistant",
              "content": "=<prompt>\n  <role>\n    You are a professional HR recruiter communicating hiring decisions.\n  </role>\n\n  <task>\n    Write a short, professional, and positive email informing the candidate that they have successfully passed to the second stage of the recruitment process.\n    The tone must be warm, encouraging, and concise.\nAddress the candidate by name using the value provided.\n  <candidate_name>\n  {{ $('Application Form').item.json['Full Name'] }}\n  </candidate_name>\n  </task>\n\n  <instructions>\n    - The subject must be clear and professional.\n    - The message must be concise (max 120 words).\n    - Mention appreciation for their time.\n    - Mention they are moving to the next stage.\n    - Indicate that further details will follow soon.\n  </instructions>\n\n  <strict_output_rules>\n    You MUST:\n    1) Output ONLY a valid JSON object.\n    2) Do NOT include markdown or code fences.\n    3) Do NOT include any text outside the JSON.\n    4) Use EXACTLY the following keys:\n       - \"subject\"\n       - \"message\"\n    5) The response must start with { and end with }.\n    6) The JSON must be directly parseable.\n  </strict_output_rules>\n\n  <output_format>\n    {\n      \"subject\": \"<string>\",\n      \"message\": \"<string>\"\n    }\n  </output_format>\n</prompt>"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2800,
        560
      ],
      "id": "34a35753-b04e-4ceb-9403-89ef65e612e8",
      "name": "Respuesta Positiva",
      "credentials": {
        "openAiApi": {
          "id": "DrE6fYYRuk6uV0Kk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=<prompt>\n  <role>\n    You are a professional HR recruiter communicating hiring decisions.\n  </role>\n\n  <task>\n    Write a short, respectful, and empathetic email informing the candidate that they were not selected to move forward in the recruitment process.\n    The tone must be professional, appreciative, and encouraging.\nAddress the candidate by name using the value provided.\n<candidate_name>\n{{ $('Application Form').item.json['Full Name'] }}\n</candidate_name>\n  </task>\n\n  <instructions>\n    - The subject must be clear and professional.\n    - The message must be concise (max 120 words).\n    - Thank the candidate for their time and interest.\n    - Inform them they will not move forward.\n    - Encourage them to apply for future opportunities.\n  </instructions>\n\n  <strict_output_rules>\n    You MUST:\n    1) Output ONLY a valid JSON object.\n    2) Do NOT include markdown or code fences.\n    3) Do NOT include any text outside the JSON.\n    4) Use EXACTLY the following keys:\n       - \"subject\"\n       - \"message\"\n    5) The response must start with { and end with }.\n    6) The JSON must be directly parseable.\n  </strict_output_rules>\n\n  <output_format>\n    {\n      \"subject\": \"<string>\",\n      \"message\": \"<string>\"\n    }\n  </output_format>\n</prompt>"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2800,
        752
      ],
      "id": "98f26c05-94e0-4623-ab45-557d1c673170",
      "name": "Respuesta Negativa",
      "credentials": {
        "openAiApi": {
          "id": "DrE6fYYRuk6uV0Kk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"qualificationRate\",\n    \"explanation\"\n  ],\n  \"properties\": {\n    \"qualificationRate\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"A numeric score between 0.0 and 1.0 representing how well the candidate meets the job requirements.\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"minLength\": 50,\n      \"description\": \"A detailed, evidence-based explanation justifying the qualification rate based on the CV and job requirements.\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2256,
        896
      ],
      "id": "e5ccfa8c-ab33-43d9-8399-cfc4de1f4b11",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 2) Section A — Environment Setup (Folders & Spreadsheet)\n\n#### A1. Manual Trigger — \"Start Here\"\nUsed to initialize the infrastructure (folders and spreadsheet).\n\n#### A2. Create Main Folder (Google Drive)\nCreates a main folder called **\"Candidates\"** in Google Drive.\n\n#### A3. Create Folder \"Files\" (Google Drive)\nCreates a subfolder called **\"Files\"** inside the \"Candidates\" folder.  \nThis is where all uploaded CVs are stored.\n\n#### A4. Create Log Spreadsheet (Google Sheets)\nCreates a spreadsheet named **\"CVs\"** with two sheets:\n- `CandidatesLogs`\n- `QualificationDescription`\n\n### A5. Move Spreadsheet to Main Folder\nMoves the spreadsheet into the **\"Candidates\"** folder for centralized organization.\n",
        "height": 720,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        640
      ],
      "typeVersion": 1,
      "id": "724a06a9-f38f-4648-b109-1ca7b1c0ce68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Files",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YkxdVPiXYEnonLEnSg-hb-gGOGkDEef1",
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YkxdVPiXYEnonLEnSg-hb-gGOGkDEef1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        656
      ],
      "id": "956b6d08-826f-4180-9f9c-f66e50db925b",
      "name": "Create Folder Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1o5RJCn4jdmAWRvQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "CVs",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "=CandidatesLogs"
            },
            {
              "title": "QualificationDescription"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        656
      ],
      "id": "1d22014d-f3f8-4f77-9990-9cb458e2d109",
      "name": "Create Log CV's Candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W2rQvutbB8bBbpio",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Main Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        656
      ],
      "id": "e51d7e36-a4a2-4bb5-8b67-1f5b5573c391",
      "name": "Move file to Main Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1o5RJCn4jdmAWRvQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔐 Responder al Candidato (Condición basada en `QualificationRate`)\n\nLa respuesta automática al **candidato** dependerá del valor de `QualificationRate` según la siguiente lógica:\n\n- ✅ **Respuesta positiva** → Cuando `QualificationRate > 0.75`\n- ❌ **Respuesta negativa** → Cuando `QualificationRate ≤ 0.75`\n\n### Lógica de decisión\n",
        "height": 592,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        304
      ],
      "typeVersion": 1,
      "id": "875dc158-551d-4f91-92a6-c0684b2c9043",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Candidates",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {
          "folderColorRgb": "Red"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        656
      ],
      "id": "b0b81821-4377-489c-94d0-0c50a6b9f01f",
      "name": "Create Main Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1o5RJCn4jdmAWRvQ",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Here": {
      "main": [
        [
          {
            "node": "Create Main Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Qualification": {
      "main": [
        [
          {
            "node": "Add CV Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Form": {
      "main": [
        [
          {
            "node": "Extract CV Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Candidate Submission",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "AI Qualification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract CV Text": {
      "main": [
        [
          {
            "node": "AI Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Candidate Submission": {
      "main": [
        []
      ]
    },
    "Add CV Analysis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta Positiva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Negativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Positiva": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Negativa": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Qualification",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder Files": {
      "main": [
        [
          {
            "node": "Create Log CV's Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Log CV's Candidates": {
      "main": [
        [
          {
            "node": "Move file to Main Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Folder": {
      "main": [
        [
          {
            "node": "Create Folder Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "46746653-5170-42a8-999e-727522e1c62c",
  "meta": {
    "templateId": "7456",
    "templateCredsSetupCompleted": true,
    "instanceId": "f8a462a9649fd405e4cf8b2f51b07ed4fffb3e007dc884e31468ac0c9836c4b5"
  },
  "id": "Q5HGbHKHX6Cmzo0u",
  "tags": []
}